[submodule "themes/default"]
	path = themes/default
	url = git://github.com/nodepressjs/nodepressjs-theme-default.git

[submodule "themes/admin"]
	path = themes/admin
	url = git://github.com/nodepressjs/nodepressjs-theme-admin.git

[submodule "wiki"]
	path = wiki
	url = git://github.com/nodepressjs/nodepressjs-wiki.git

[submodule "translations/english"]
	path = translations/english
	url = git@github.com:nodepressjs/nodepressjs-translation-english.git

[submodule "translations/polish"]
	path = translations/polish
	url = git@github.com:nodepressjs/nodepressjs-translation-polish.git

[submodule "translations/italian"]
	path = translations/italian
	url = git@github.com:nodepressjs/nodepressjs-translation-italian.git
